:root {
  --color-primary: #4457FF;
  --color-primary-dark: #3746CF;
  --color-grey: #6A6A6A;
  --color-black: #333333;
  --color-red: #FF495F;
  --color-red-dark: #EF3148;
  --color-red-light: #ff495f91;

  --shadow: 0px 0px 20px rgba(170, 189, 255, 0.22);
  --botton-outline: 0px 0px 0px 2px #4457ff54;
  --botton-outline-red: 0px 0px 0px 2px #ff495f91;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F8F9FC;
  font-family: BlinkMacSystemFont, -apple-system,"Roboto",  "Helvetica", "Arial",蘋方, PingFang, 微軟正黑體,"儷黑 Pro", sans-serif;
  color: var(--color-black);
}

header {
  background-color: #fff;
  padding: 1rem;
  color: var(--color-primary);
  box-shadow: var(--shadow);
  margin-bottom: 2rem;
}

section {
  display: flex;
  padding: 0 .5rem;
  align-items: center;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.button:active,
.button:focus {
  outline: none;
}

.button {
  border: none;
  padding: .4rem .7rem;
  border-radius: 4px;
  cursor: pointer;
  transition: all .1s;
  background-color: inherit;
}

.button.button-primary {
  background-color: var(--color-primary);
  border: 2px solid var(--color-primary);
  color: #fff;
  width:100%;
}

.button.button-primary:hover {
  background-color: var(--color-primary-dark);
  border: 2px solid var(--color-primary-dark);
}

.button.button-primary:active {
  box-shadow: var(--botton-outline);
}

.button.button-sort {
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
}

.button.button-sort:hover {
  background-color: var(--color-primary);
  color: #fff;
}

.button.button-sort:active {
  background-color: var(--color-primary-dark);
  color: #fff;
  box-shadow: var(--botton-outline---color-primary);
}

.button.button-clear {
  border: 2px solid var(--color-red);
  color: var(--color-red);
}

.button.button-clear:hover {
  background-color: var(--color-red);
  color: #fff;
}

.button.button-clear:active {
  background-color: var(--color-red-dark);
  color: #fff;
  box-shadow: var(--botton-outline-red);
}

.button.button-delete {
  text-align: right;
  padding: 3px 6px;
  color: var(--color-black);
}

.button.button-delete:hover {
  color: var(--color-red);
}

.button.button-delete:active {
  transform: translateY(2px);
}

/* reivew page*/

.intro button {
  margin-left: auto;
}

.intro p {
  margin-left: 10px;
}

strong {
  color: var(--color-primary);
  font-size: 1.3rem;
}

.intro {
  margin-bottom: 1rem;
}

#notes {
  flex-wrap: wrap;
  display: flex;
}

.card {
  width: 40%;
  /* height: 200px; */
  color: var(--color-black);
  border-radius: 10px;
  box-shadow: var(--shadow);
  margin: 10px;
  padding: .5rem;
  background-color: #fff;
}
.type{
  display: inline-block;
  border: 2px solid #cccccc;
  margin-bottom: 2px;
  border-radius: 5px;
}

.desc{
  text-align: center;
  margin-bottom: 2px;
}

.popup-body {
  background-color: #fff;
  width: 500px;
  padding: .7rem;
  max-height: 500px!important;
}

.popup-body p {
  margin-bottom: .5rem;
}

.popup-body .button {
  margin-right: .5rem;
}

.popup-body hr {
  margin: 1rem 0;
  border-top: 1px solid #f3f3f3;
}

.popup-body #code-type {
  color: var(--color-grey);
  font-size: .9rem;
}

#codeArea{
  width:100%;
  height:0px;
  word-wrap: break-word;
  font-size: 12px;
}
.CodeMirror{
  height: auto!important;
  min-height: 200px;
  border-radius: 5px!important;
}